---
layout: default
title: Competitions
---

<div class="home">

  <div class="crumbs">
    <ol>
      <li><a href="/">home</a></li>
      <li>Competitions</li>
    </ol>
  </div>

  <h1 class="page-heading">Competitions</h1>

  <ul class="contest-list">
    {% for contest in page.contests %}
    <li>
      {{ contest[0] }}
      <ul class="competition-list">
        {% for competition in contest[1] %}
        <li>
          {{ competition[0] }}
          <ul class="problem-list">
            {% for page in competition[1] %}
            <li>
              <a href="{{ page.url }}">
                {{ page.title_main }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>

</div>
