.highlight code {
    font-family: 'Monaco', 'Consolas', 'Courier New', Courier, monospace, sans-serif;
    font-size: 13px;
}

.crumbs ol li {
    display: inline;
    list-style-type: none;

    &:after {
        content: " > ";
    }
    &:last-child:after {
      content: none;
    }
}

.category-heading {
    border-bottom: 1px solid $grey-color-light;

    a {
        &, &:visited {
          color: $grey-color-dark;
          text-decoration: none;
        }
        &:hover {
          color: $grey-color;
        }
    }
}
