---
layout: default
---

<div class="home">

  <div class="crumbs">
    <ol>
      <li>
        <a href="{{ site.data.solution_index.url }}">
          {{ site.data.solution_index.title }}
        </a>
      </li>
      <li>
        <a href="{{ page.contest_url }}">
          {{ page.contest }}
        </a>
      </li>
      <li>
        {{ page.competition }}
      </li>
    </ol>
  </div>

  <ul class="problem-list">
    {% for problem in page.problems %}
    <li>
      <a href="{{ problem.permalink }}">
      [{{ problem.type }}] {{ problem.name }}
      </a>
    </li>
    {% endfor %}
  </ul>

</div>
