---
layout: default
---

<div class="post">

  <header class="post-header">
    <div class="crumbs">
      <ol>
        <li><a href="/">ホーム</a></li>
        <li><a href="/competitions">Competitions</a></li>
        <li>{{ page.title }}</li>
      </ol>
    </div>

    <h2 class="post-subtitle">{{ page.title_sub }}</h1>
    <h1 class="post-title">{{ page.title_main }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
