---
layout: default
---

<div class="home">

  <div class="crumbs">
    <ol>
      <li>
        <a href="{{ site.data.solution_index.url }}">
          {{ site.data.solution_index.title }}
        </a>
      </li>
      <li>
        {{ page.contest }}
      </li>
    </ol>
  </div>

  <ul class="competition-list">
    {% for competition in page.competitions %}
    <li>
      {{ competition[0] }}
      <ul class="problem-list">
        {% for problem in competition[1] %}
        <li>
          <a href="{{ problem.permalink }}">
          [{{ problem.type }}] {{ problem.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>

</div>
